mat-toolbar {
  background-color: var(--mat-sys-primary-container) !important;
  z-index: 1;
}

mat-divider {
  height: 35px;
  margin: 5px;
}

mat-divider.burger {
  margin: 10px;
}

.icon-button {
  font-size: 18px;
  height: 18px;
  width: 18px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

button.hide {
  display: none;
}
