h2 {
    margin: 25px;
}

iframe {
    display: block;
}

mat-dialog-content {
    padding: 0 !important;
}

mat-dialog-actions {
    flex-direction: row-reverse;
}

.mat-mdc-dialog-surface {
  border: 1px solid #1f1f1f;
  border-radius: 0px !important;
}
