.browse-list {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    table {
        th {
            top: -20px !important; // padding dell'outlet
        }
        td {
            border-bottom-color: #333333 !important;
            cursor: pointer;
        }
    }
}

.list-item-element {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.list-item-icon {
    height: 42px;
    width: 42px;
    font-size: 42px;
}

.list-item-selected {
    background-color: #004f4f40;
}

.list-item-selected.ds-selected, .list-item-not-selected.ds-selected {
    background-color: #004f4f40 !important;
}

.list-item-not-selected {
    background-color: transparent;
}

table {
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.list-item-cut {
    color: #676767;
}